@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
}

.login-container {
    background-image: url('../images/fondo.png');
    background-size: cover;
    background-position: center;
    /* Asegúrate de que el contenedor tenga altura y ancho definidos */
    min-height: 100vh;
    width: 100%;
}
