<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Only Film')}"></head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">
    <div class="d-flex justify-content-between align-items-start mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><span th:text="${movie.title}"></span></h5>
                </div>

                <div class="card-body">
                    <div class="d-flex flex-row">

                        <div class="d-flex flex-col" style="height: 50vh; width: auto">
<!--                            TODO poner alt para la imagen y si se quiere unas class de bootstrap como img-fluid-->
                            <img th:src="${movie.imageUrl}" >
                        </div>

                        <div class="d-flex flex-column" style="padding-left: 15px">


                            <p class="card-text d-flex">Director:
                                <span th:text="${movie.director}"></span>
                            </p>

                            <p class="card-text">Duración:
                                <span th:text="${movie.durationMinutes}"></span>
                            </p>

                            <p class="card-text">Género:
                                <span th:text="${movie.genre}"></span>
                            </p>

                            <p class="card-text">Sinopsis:
                                <span th:text="${movie.sinopsis}"></span>
                            </p>


                            <div class="d-flex flex-column" style="padding-left: 15px">
                                <ul class="list-group list-group-flush" >
                                    <li th:each="proyeccion : ${sessions} " class="mt-2">
                                        <strong th:text="${'Sala: ' + proyeccion.room}"></strong>
                                        <span th:text="${'Precio: ' + proyeccion.price}"></span>
                                        <span th:text="${'Fecha: ' + proyeccion.startTime}"></span>
                                        <a th:href="@{/sessions/{id}(id=${proyeccion.id})}" class="btn btn-info">Ver entradas disponibles</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
                                <a href="#" class="btn btn-info">Ver trailer</a>
                                <a th:href="@{/movies}" class="btn btn-secondary">
                                <i class="fa-solid fa-angle-left"></i>Volver</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>